---
layout: null
---

<!DOCTYPE html>
<html lang="{{ site.language }}" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ site.title }} - {{ page.title }}</title>

  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{{ page.title }} - {{ page.subtitle }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:image" content="{{ site.url }}/img/logo-360x360.png"/>

  {% if site.download_url == "" or site.download_url == nil %}
    {% assign download_url = site.url | append: '/episodes' %}
  {% else %}
    {% assign download_url = site.download_url %}
  {% endif %}
  {% for feed in site['episode_feed_formats'] %}
    <meta property="og:audio" content="{{ download_url }}/{{ page['audio'][feed] }}"/>
    <meta property="og:audio:type" content="audio/{{ feed }}"/>
  {% endfor %}
</head>

<body>
  {% podigee_player %}
</body>

</html>
