---
layout: null
---

<!DOCTYPE html>
<html lang="{{ site.language }}" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ site.title }} - {{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="{{ site.url }}/podlove-web-player/css/pwp-light-gray.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/podlove-web-player/css/vendor/progress-polyfill.css" media="screen">

  <script type='text/javascript' src="{{ site.url }}/podlove-web-player/js/vendor/html5shiv.min.js"></script>
  <script type='text/javascript' src="{{ site.url }}/podlove-web-player/js/vendor/jquery.min.js"></script>
  <script type='text/javascript' src="{{ site.url }}/podlove-web-player/js/vendor/progress-polyfill.min.js"></script>

  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{{ page.title }} - {{ page.subtitle }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:image" content="{{ site.url }}/img/logo-360x360.png"/>

  {% for feed in site['episode_feed_formats'] %}
    <meta property="og:audio" content="{{ site.url }}/episodes/{{ page['audio'][feed] }}"/>
    <meta property="og:audio:type" content="audio/{{ feed }}"/>
  {% endfor %}
</head>

<body>
  {{ page | web_player:site }}
  <script type='text/javascript' src="{{ site.url }}/podlove-web-player/js/podlove-web-player.js"></script>
  {{ page | web_player_script_tag:site }}
</body>

</html>
