.podcast-player {
  background: linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(38, 38, 38) 100%);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  width: 1px;
}
.podcast-player, .podcast-player *, .podcast-player *:before, .podcast-player *:after {
  box-sizing: border-box;
}
.podcast-player a {
  color: #fff;
  text-decoration: none;
}
.podcast-player a:hover {
  color: rgb(88, 156, 239);
  text-decoration: underline;
}
.podcast-player button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.podcast-player .controls {
  float: left;
  height: 90px;
}
.podcast-player .controls .play-button {
  border: 3px solid rgb(230, 230, 230);
  border-radius: 100px;
  color: rgb(200, 200, 200);
  font-size: 56px;
  height: 70px;
  margin: 10px 0 0 10px;
  padding: 0;
  width: 70px;
}
.podcast-player .controls .play-button:hover {
  color: #fff;
  border-color: #fff;
}
.podcast-player .controls .controls-advanced {
  display: none;
  left: 155px;
  position: absolute;
  top: 66px;
}
.podcast-player .controls .controls-advanced button {
  color: rgb(200, 200, 200);
  font-size: 14px;
}
.podcast-player .controls .controls-advanced button:hover {
  color: rgb(245, 113, 80);
}
.podcast-player .controls .controls-advanced .speed-toggle {
  cursor: pointer;
}
.podcast-player .cover-image {
  float: left;
  height: 90px;
  padding: 5px;
}
.podcast-player .episode-basic-info {
  float: left;
  max-height: 90px;
  padding: 5px 12px 0;
  position: relative;
  overflow: hidden;
  width: calc(100% - 170px);
}
.podcast-player .episode-basic-info .episode-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.podcast-player .episode-basic-info .episode-subtitle {
  font-size: 16px;
  min-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.podcast-player .progress-bar {
  clear: both;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 0 5px;
}
.podcast-player .progress-bar .progress-bar-time-played {
  color: rgb(200, 200, 200);
  cursor: pointer;
  float: left;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  width: 80px;
}
.podcast-player .progress-bar .progress-bar-time-played:hover {
  color: #fff;
}
.podcast-player .progress-bar .progress-bar-rail {
  background-color: rgb(230, 230, 230);
  cursor: ew-resize;
  min-height: 10px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 80px);
}
.podcast-player .progress-bar-played,
.podcast-player .progress-bar-loaded {
  background-color: rgb(88, 156, 239);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
}
.podcast-player .progress-bar-loaded {
  background-color: rgb(200, 200, 200);
}
.podcast-player .progress-bar-buffering:after {
  -webkit-animation: move 2s linear infinite;
          animation: move 2s linear infinite;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.podcast-player .buttons {
  position: absolute;
  right: 3px;
  top: 68px;
}
.podcast-player .buttons button {
  color: rgb(200, 200, 200);
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 26px;
}
.podcast-player .buttons button:hover,
.podcast-player .buttons button.button-active {
  color: #fff;
}
.podcast-player .buttons img {
  height: 14px;
}
.podcast-player .panels {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  height: 400px;
  line-height: 18px;
}
.podcast-player .panels > div {
  height: 100%;
  overflow: hidden;
  padding: 0 0 0 12px;
  position: relative;
}
.podcast-player .panels h3 {
  margin: 12px 0;
}
.podcast-player .panels .chaptermarks ul,
.podcast-player .panels .playlist ul {
  display: block;
  height: calc(100% - 54px);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.podcast-player .panels .chaptermarks ul li,
.podcast-player .panels .playlist ul li {
  background-color: none;
  cursor: pointer;
  line-height: 30px;
  list-style: none;
  padding: 0 5px;
  position: relative;
}
.podcast-player .panels .chaptermarks ul li + li,
.podcast-player .panels .playlist ul li + li {
  border-top: 1px solid rgb(230, 230, 230);
}
.podcast-player .panels .chaptermarks ul li:hover,
.podcast-player .panels .playlist ul li:hover {
  background-color: rgb(230, 230, 230);
  color: rgb(38, 38, 38);
}
.podcast-player .panels .chaptermarks ul li.active,
.podcast-player .panels .playlist ul li.active {
  background-color: white;
  color: rgb(38, 38, 38);
}
.podcast-player .panels .chaptermarks ul li img,
.podcast-player .panels .playlist ul li img {
  float: left;
  width: 30px;
}
.podcast-player .panels .chaptermarks ul li span,
.podcast-player .panels .playlist ul li span {
  display: inline;
  height: 100%;
  margin: 0 0 0 10px;
  overflow: hidden;
}
.podcast-player .panels .chaptermarks ul li .chaptermark-start,
.podcast-player .panels .playlist ul li .chaptermark-start {
  float: left;
  margin-left: 0;
}
.podcast-player .panels .chaptermarks ul li .chaptermark-image + .chaptermark-start,
.podcast-player .panels .playlist ul li .chaptermark-image + .chaptermark-start {
  margin-left: 10px;
}
.podcast-player .panels .chaptermarks ul li a,
.podcast-player .panels .playlist ul li a {
  color: rgb(88, 156, 239);
  font-size: 16px;
  right: 5px;
  position: absolute;
  top: 5px;
}
.podcast-player .panels .playlist ul li span {
  margin-left: 0;
}
.podcast-player .panels .playlist ul li a {
  padding: 0 5px;
  position: static;
}
.podcast-player .panels .episode-info {
  font-size: 16px;
  height: calc(100% - 12px);
  overflow-y: scroll;
  padding: 0 12px;
}
.podcast-player .panels .episode-info .episode-title {
  font-size: 22px;
}
.podcast-player .panels .episode-info .episode-subtitle {
  font-size: 18px;
  font-weight: 300;
}
.podcast-player .panels .share {
  padding: 12px;
}
.podcast-player .panels .share .share-copy-url,
.podcast-player .panels .share .share-embed-code {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  outline: none;
  padding: 4px;
  text-align: center;
  width: 100%;
}
.podcast-player .panels .transcript .transcript-text {
  height: calc(100% - 54px);
  list-style: none;
  overflow-y: scroll;
  padding: 0 12px 0 0;
  width: 100%;
}
.podcast-player .panels .transcript .transcript-text li {
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 8px;
}
.podcast-player .panels .transcript .transcript-text li:hover > *, .podcast-player .panels .transcript .transcript-text li.active > * {
  background-color: rgb(255, 249, 169);
  color: rgb(38, 38, 38);
}