*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "podigee-podcast-player";
  src: url("../fonts/podigee-podcast-player.ttf?kq1u8x") format("truetype"), url("../fonts/podigee-podcast-player.woff?kq1u8x") format("woff"), url("../fonts/podigee-podcast-player.svg?kq1u8x#podigee-podcast-player") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon, .panels .share-social-links a, .search-result-prev, .search-result-next, .transcript-button, .share-button, .playlist-button, .episode-info-button, .download-button, .chaptermarks-button, .skip-forward-button, .skip-backward-button, .forward-button, .backward-button, .play-button {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "podigee-podcast-player" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cast:before {
  content: "\e307";
}

.icon-close:before {
  content: "\e5cd";
}

.icon-download:before, .download-button:before {
  content: "\e2c0";
}

.icon-chaptermarks:before, .chaptermarks-button:before {
  content: "\e431";
}

.icon-error_outline:before, .error-loading .play-button:before {
  content: "\e001";
}

.icon-transcript:before, .transcript-button:before {
  content: "\e236";
}

.icon-forward-30:before, .forward-button:before {
  content: "\e057";
}

.icon-episode-info:before, .episode-info-button:before {
  content: "\e88f";
}

.icon-keyboard_arrow_left:before, .search-result-prev:before {
  content: "\e314";
}

.icon-keyboard_arrow_right:before, .search-result-next:before {
  content: "\e315";
}

.icon-playlist:before, .playlist-button:before {
  content: "\e896";
}

.icon-mail_outline:before {
  content: "\e0e1";
}

.icon-pause:before, .playing .play-button:before {
  content: "\e034";
}

.icon-play:before, .play-button:before {
  content: "\e037";
}

.icon-backward-10:before, .backward-button:before {
  content: "\e059";
}

.icon-share:before, .share-button:before {
  content: "\e80d";
}

.icon-skip-next:before, .skip-forward-button:before {
  content: "\e044";
}

.icon-skip-previous:before, .skip-backward-button:before {
  content: "\e045";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-whatsapp:before {
  content: "\f232";
}

.loading .play-button:before {
  content: "";
}
.loading .play-button {
  animation: sk-scaleout 1s infinite ease-in-out;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  background-color: #666;
  border-radius: 100%;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.error-loading .play-button {
  color: red !important;
  font-size: 36px !important;
}

button.progress-bar-time-played {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.video-player {
  margin: 0;
  width: 100%;
}

.panels .share-social-links {
  list-style: none;
  padding: 0;
  text-align: center;
}
.panels .share-social-links li {
  display: inline-block;
  height: 48px;
  margin: 0 5px;
  position: relative;
  width: 48px;
}
.panels .share-social-links li:hover:after {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.panels .share-social-links a {
  color: transparent;
  display: block;
  font-size: 1px;
  letter-spacing: -1px;
  position: relative;
  text-decoration: none;
}
.panels .share-social-links a:hover {
  text-decoration: none;
}
.panels .share-social-links a:before {
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  letter-spacing: normal;
  top: 8px;
  position: relative;
}
.panels .share-social-links .share-link-facebook:before {
  background: rgb(59, 89, 152);
  content: "\f09a";
  padding: 8px 14px;
}
.panels .share-social-links .share-link-twitter:before {
  background: rgb(0, 172, 237);
  content: "\f099";
  padding: 8px 9px;
}
.panels .share-social-links .share-link-whatsapp:before {
  background: rgb(67, 216, 84);
  content: "\f232";
  padding: 8px 10px;
}
.panels .share-social-links .share-link-email:before {
  background: rgb(153, 153, 153);
  content: "\e0e1";
  padding: 8px 8px;
}

.panels .download .icon-download, .panels .download .download-button {
  display: block;
  font-size: 3rem;
  text-align: center;
}
.panels .download .download-links {
  padding: 0;
  text-align: center;
}
.panels .download .download-links li {
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
}
.panels .download .download-links li + li {
  border-left: 1px solid;
}

.transcript .search button {
  padding: 0;
}
.transcript .search .search-result button {
  font-size: 110%;
  color: inherit;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  top: 2px;
}
.transcript .search input {
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 110%;
  margin: 0;
  width: 300px;
}