{% if site.disqus_shortname %}
<a class="btn btn-inverse pull-right" href="{{ site.url }}{{ post.url }}#disqus_thread">
<script type="text/javascript">
  (function () {
    {{ site | disqus_config:post }}
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'https://{{ site.disqus_shortname }}.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
</a>
{% endif %}
