{% if post %}
{% elsif page %}
  {% assign post = page %}
{% endif %}
<section id="{{ post.id | sha1:8 }}" class="active">
  {% include post_header.html %}

  {{ post.content }}
    {% if post.audio %}
      {% for file in post.audio %}
      <a class="btn btn-info" href="{{ site | download_url_with_fallback }}/{{ file.last }}">Download .{{ file.first }} ({{ file.last | file_size:'./' | string_of_size }})</a>
      {% endfor %}
    {% endif %}
  <hr>
  {{ site | flattr_button:post }}
  <a href="https://twitter.com/share"
     class="button btn-primary btn-sm"
     data-url="{{ site.url }}{{post.url }}"
     data-text="{{ post.title }}">
    <i class="fab fa-twitter"></i> Tweet</a>
  {% unless page.url == '/index.html' %}{% include disqus_thread.html %}{% endunless %}
  {% unless page.url == '/index.html' %}{% include isso_thread.html %}{% endunless %}
  <hr>
</section>
